<%= form_with(model: person, local: true) do |form| %>
<div class="row">
  <div class="field col s5">
    <%= form.label :name %>
    <%= form.text_field :name, id: :person_name %>
  </div>
  <div class="field col s5">
    <%= form.label :company %>
    <%= form.text_field :company, id: :person_company %>
  </div>
  <div class="col s2">
       <%= form.submit 'Save', class: "waves-effect waves-light btn" %>
  </div>

</div>
<% end %>