<%= form_with(model: level1, local: true) do |form| %>
  <% if level1.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(level1.errors.count, "error") %> prohibited this level1 from being saved:</h2>

      <ul>
      <% level1.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :level1_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
