<%= form_with(model: level3, local: true) do |form| %>
  <% if level3.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(level3.errors.count, "error") %> prohibited this level3 from being saved:</h2>

      <ul>
      <% level3.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :level3_name %>
  </div>

  <div class="field">
    <%= form.label :code %>
    <%= form.text_field :code, id: :level3_code %>
  </div>

  <div class="field">
    <%= form.label :level2_id %>
    <%= form.number_field :level2_id, id: :level3_level2_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
