<!DOCTYPE html>
<html>
  <head>
    <title>Expense App</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale-1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>

  <body>
  <header></header>
  <main>
    <%= yield %>
  </main>
  <footer>
   <div class="fixed-action-btn show-on-medium-and-up">
    <a class="btn-floating btn-large vDarkBlue">
      <i class="large material-icons">menu</i>
    </a>
    <ul>
      <li><a class="btn-floating teal lighten-1 tooltipped" data-position="left" data-delay="50" data-tooltip="Comming Soon">
      	<%= fa_icon "search" %></a>
      </li>
      <li><a class="btn-floating grey lighten-1 tooltipped" data-position="left" data-delay="50" data-tooltip="Coming Soon">
      	<%= fa_icon "pie-chart" %></a>
      </li>
      <li><%= link_to fa_icon("sign-out"), disconnect_path, :class => "btn-floating cyan lighten-1 tooltipped", :'data-position' => "left", :'data-delay' => "50",  :'data-tooltip' => "Log Out" %>
      </li>
    </ul>
  </div>
  </footer>
  </body>
</html>
